* {
  background-color: #f4f4f4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#box-1 {
  text-align: center;
  background-color: white;
  padding-top: 20px;
  margin: auto;
  width: 70%;
}

img {
  width: 57%;
}

#box-1 h1 {
  font-size: 70px;
  background-color: white;
  margin: 0;
  padding: 0;
}

#box-1 h4 {
  font-size: 38px;
  color: red;
  background-color: white;
  margin: 0 0 20px 0;
}

#box-2 {
  background-color: black;
  margin: auto;
  width: 70%;
  padding-bottom: 20px;
}

#box-2 p {
  font-size: 25px;
  color: white;
  background-color: black;
  margin: 0 120px 0 140px;
  padding: 20px 0 0 0;
}

#box-2 ul,
li {
  background-color: black;
  color: white;
  margin-left: 100px;
  font-size: 20px;
}

#box-3 {
  background-color: black;
  margin: auto;
  width: 70%;
  text-align: center;
}

#box-3 h1 {
  background-color: black;
  font-size: 40px;
  margin: 0;
}

.button {
  font-size: 40px;
  color: white;
  background-color: red;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  border-radius: 10px;
  border: 0 100px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #f4f4f4;
  color: red;
}

#box-3 p {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  margin: 20px 0 0 0;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  #box-1 {
    text-align: center;
    background-color: white;
    padding: 20px 0 25px 0;
    margin: auto;
    width: 100%;
  }

  img {
    width: 100%;
  }

  #box-2 {
    background-color: black;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
  }

  #box-2 p {
    font-size: 25px;
    color: white;
    background-color: black;
    margin: 0 60px 0 70px;
    padding: 20px 0 0 0;
  }

  #box-2 ul,
  li {
    background-color: black;
    color: white;
    margin-left: 50px;
    font-size: 18px;
  }

  #box-3 {
    background-color: black;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  #box-3 h1 {
    background-color: black;
    font-size: 40px;
    margin: 0;
  }

  .button {
    font-size: 40px;
    color: white;
    background-color: red;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    border-radius: 10px;
    border: 0 100px 10px 20px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #f4f4f4;
    color: red;
  }

  #box-3 p {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    margin: 20px 0 0 0;
    font-style: italic;
  }
}

@media only screen and (max-width: 1200px) {
  #box-1 {
    text-align: center;
    background-color: white;
    padding: 20px 0 25px 0;
    margin: auto;
    width: 100%;
  }

  img {
    width: 60%;
  }

  #box-2 {
    background-color: black;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
  }

  #box-2 p {
    font-size: 25px;
    color: white;
    background-color: black;
    margin: 0 60px 0 70px;
    padding: 20px 0 0 0;
  }

  #box-2 ul,
  li {
    background-color: black;
    color: white;
    margin-left: 50px;
    font-size: 18px;
  }

  #box-3 {
    background-color: black;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  #box-3 h1 {
    background-color: black;
    font-size: 40px;
    margin: 0;
  }

  .button {
    font-size: 40px;
    color: white;
    background-color: red;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    border-radius: 10px;
    border: 0 100px 10px 20px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #f4f4f4;
    color: red;
  }

  #box-3 p {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    margin: 20px 0 0 0;
    font-style: italic;
  }
}
